* {
  padding: 0px;
  margin: 0px; }

a {
  text-decoration: none;
  color: #333; }

a:active {
  font-style: italic; }

body {
  background: repeat-x #545454 url(images/background.png);
  font-family: Verdana;
  padding: 20px;
  color: #333; }

#container {
  background: #FFF;
  margin: 0 auto;
  width: 881px;
  padding: 10px 0px 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px black;
  -moz-box-shadow: 3px 3px 3px black; }
  #container #global_beer_status {
    float: left;
    background-position: -35px -0px;
    height: 692px;
    width: 245px; }
    #container #global_beer_status .status {
      text-align: center;
      font-size: 1.4em;
      padding-top: 600px; }
  #container #drinks {
    height: 340px;
    width: 626px;
    float: left; }
    #container #drinks .drink {
      width: 303px;
      float: left;
      display: block;
      margin-bottom: 14px;
      padding-left: 10px; }
      #container #drinks .drink .photo {
        float: left;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomleft: 10px;
        height: 150px;
        width: 100px;
        background-repeat: no-repeat;
        border: 1px solid #333; }
      #container #drinks .drink .data {
        float: left;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        height: 150px;
        width: 200px;
        border: 1px solid #333;
        background: #545454;
        border-left: 0px; }
      #container #drinks .drink .warning_yellow .status div.volume {
        color: yellow; }
      #container #drinks .drink .warning_red .status div.volume {
        color: red; }
      #container #drinks .drink .status {
        color: white;
        font-size: 1.4em;
        text-align: center;
        text-shadow: 2px 2px 2px black;
        padding-top: 10px; }
        #container #drinks .drink .status .drink_name {
          padding-top: 10px; }
  #container #people {
    width: 614px;
    float: left;
    border: 1px solid #333;
    margin-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; }
    #container #people table {
      width: 100%; }
      #container #people table td.num {
        text-align: center; }
      #container #people table td.price {
        text-align: right; }
      #container #people table .col {
        background: #efefef; }
      #container #people table tr.person td.identity {
        text-align: center;
        width: 80px; }
        #container #people table tr.person td.identity img {
          height: 70px;
          border: 0px; }
        #container #people table tr.person td.identity .person_name {
          display: block; }

.clear {
  clear: both; }
